/**
* Base font family
*/
@font-face {
  font-family: "mr-eaves";
  src: url("/fonts/Noto_Sans_Display/NotoSansDisplay/NotoSansDisplay-Light.ttf")
    format("truetype"),
    url("/fonts/Noto_Sans_Thai/NotoSansThai/NotoSansThai-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "mr-eaves";
  src: url("/fonts/Noto_Sans_Display/NotoSansDisplay/NotoSansDisplay-Regular.ttf")
    format("truetype"),
    url("/fonts/Noto_Sans_Thai/NotoSansThai/NotoSansThai-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "mr-eaves";
  src: url("/fonts/Noto_Sans_Display/NotoSansDisplay/NotoSansDisplay-Medium.ttf")
    format("truetype"),
    url("/fonts/Noto_Sans_Thai/NotoSansThai/NotoSansThai-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "mr-eaves";
  src: url("/fonts/Noto_Sans_Display/NotoSansDisplay/NotoSansDisplay-Bold.ttf")
    format("truetype"),
    url("/fonts/Noto_Sans_Thai/NotoSansThai/NotoSansThai-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "mr-eaves";
  src: url("/fonts/Noto_Sans_Display/NotoSansDisplay/NotoSansDisplay-Black.ttf")
    format("truetype"),
    url("/fonts/Noto_Sans_Thai/NotoSansThai/NotoSansThai-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

// /**
//  * Icons
//  */
@font-face {
  font-family: "tk-icons";
  src: url("/fonts/tk-icons/tk-icons.eot");
  src: url("/fonts/tk-icons/tk-icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/tk-icons/tk-icons.woff") format("woff"),
    url("/fonts/tk-icons/tk-icons.ttf") format("truetype"),
    url("/fonts/tk-icons/tk-icons.svg") format("svg");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}
