/**
 * Shadows
 */
.tk-box-shadow-1 {
  box-shadow: $--box-shadow-1;
}
.tk-box-shadow-2 {
  box-shadow: $--box-shadow-2;
}
.tk-box-shadow-3 {
  box-shadow: $--box-shadow-3;
}
.tk-box-shadow-4 {
  box-shadow: $--box-shadow-4;
}

/**
 * Border
 */
.tk-border-radius-1 {
  border-radius: $--border-radius-1;
}
.tk-border-radius-2 {
  border-radius: $--border-radius-2;
}
.tk-border-radius-3 {
  border-radius: $--border-radius-3;
}
.tk-border-radius-4 {
  border-radius: $--border-radius-4;
}
.tk-border-radius-h {
  border-radius: $--border-radius-h;
}

/**
 * Text Colors
 */
.tk-text-primary,
.tk-text-primary-1 {
  color: $--color-primary-1;
}
.tk-text-primary-2 {
  color: $--color-primary-2;
}
.tk-text-success {
  color: $--color-success;
}
.tk-text-warning {
  color: $--color-warning;
}
.tk-text-danger {
  color: $--color-danger;
}
.tk-text-black {
  color: $--color-black;
}
.tk-text-white {
  color: $--color-white;
}
.tk-text-greyscale,
.tk-text-greyscale-1 {
  color: $--color-greyscale-100;
}
.tk-text-default,
.tk-text-greyscale-2 {
  color: $--color-greyscale-400;
}
.tk-text-none {
  color: $--color-greyscale-600;
}

/**
 * Background Colors
 */
.tk-bg-primary,
.tk-bg-primary-1 {
  background-color: $--color-primary-1;
}
.tk-bg-primary-2 {
  background-color: $--color-primary-2;
}
.tk-bg-success {
  background-color: $--color-success;
}
.tk-bg-warning {
  background-color: $--color-warning;
}
.tk-bg-danger {
  background-color: $--color-danger;
}
.tk-bg-black {
  background-color: $--color-black;
}
.tk-bg-white {
  background-color: $--color-white;
}
.tk-bg-greyscale,
.tk-bg-greyscale-1 {
  background-color: $--color-greyscale-100;
}
.tk-bg-greyscale-2 {
  background-color: $--color-greyscale-200;
}
.tk-bg-greyscale-3 {
  background-color: $--color-greyscale-300;
}
.tk-bg-default,
.tk-bg-greyscale-4 {
  background-color: $--color-greyscale-400;
}
.tk-bg-greyscale-5 {
  background-color: $--color-greyscale-500;
}
.tk-bg-greyscale-6 {
  background-color: $--color-greyscale-600;
}

/**
 * Fix pass image size
 * TODO: wait for support in vue 3.0
 */
.img-fluid {
  img {
    @include img-fluid;
  }
}
// Width and height
.mw-100 {
  img {
    max-width: 100% !important;
  }
}
.mh-100 {
  img {
    max-height: 100% !important;
  }
}

// Viewport additional helpers
.min-vw-100 {
  img {
    min-width: 100vw !important;
  }
}
.min-vh-100 {
  img {
    min-height: 100vh !important;
  }
}
.vw-100 {
  img {
    width: 100vw !important;
  }
}
.vh-100 {
  img {
    height: 100vh !important;
  }
}

/**
 * Font Sizing
 */
.p-black {
  font-size: 24px;
  font-weight: 900;
}

.p-med {
  font-size: 20px;
  font-weight: 500;
}

/**
 * Spacing
 */
.space-top-1 {
  margin-top: rem(24px);

  @include media-breakpoint-up(md) {
    margin-top: rem(40px);
  }
}

.space-bottom-1 {
  margin-bottom: rem(24px);

  @include media-breakpoint-up(md) {
    margin-bottom: rem(40px);
  }
}
