@include block('card') {
  position: relative;
  width: 300px;
  height: auto;
  padding: 16px 24px;
  margin: 16px 0;
  margin-right: 16px;
  background: $--color-pearly-white-600;
  color: $--color-pearly-white-200;
  overflow: hidden;
  @include media-breakpoint-up('md'){
    width: 400px;
  }

  @include element('nav-icon') {
    opacity: 0;
    font-size: 16px;
    color: $--color-pearly-white-100;
    position: absolute;
    right: 14px;
    bottom: 14px;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  @include element('title') {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;

    @include media-breakpoint-up('md') {
      font-size: 20px;
      font-weight: 700;
    }
  }

  @include element('sub') {
    font-size: 14px;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 16px;
  }

  @include element('time') {
    font-size: 12px;
    font-weight: 500;
  }

  @include element('address') {
    font-size: 14px;
    font-weight: 500;
  }

  &:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: $--color-pearly-white-100;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: difference;;
  }

  &:hover button {
    transform: scale(10.5);

    @include media-breakpoint-up('md') {
      transform: scale(16.5);
    }
  }
}