@include block('footer'){
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background: $--color-red;
    letter-spacing: 2px;
    @include element('credit'){
        font-size: 12px;
        font-weight: 700;
        color: $--color-pearly-white-200;
        text-align: center;
        margin-top: 10px;
        line-height: 1;
    }
}