@include block('greeting') {
    @include element('title-main') {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 12px;
        margin-top: 6px;

        @include media-breakpoint-up('md') {
            margin-top: 0px;
        }
    }

    @include element('divider') {
        border-top: 2px solid $--color-pearly-white-200;
        border-radius: 1px;
    }

    @include element('tag-container') {
        display: flex;
        overflow: hidden;
        flex-flow: wrap;
    }

    @include element('tag') {
        background-color: $--color-pearly-white-600;
        color: $--color-pearly-white-200;
        // color: $--color-white;
        font-size: 14px;
        padding: 4px 12px;
        margin: 4px;
        // border-radius: 10px;
        font-weight: 700;
        @include modifier('red'){
            background-color: $--color-red;
            width: fit-content; 
        }
    }

    @include element('arrow') {
        background-color: black;
        width: 20px;
        height: 25px;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        @include modifier('red'){
            background-color: $--color-red;
        }
        @include modifier('last'){
            margin-right: 4px;
        }
    }

    @include element('image-circle') {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: $--color-white;
        margin-right: 8px;
    }

    @include element('message') {
        font-size: 14px;
        color: $--color-pearly-white-600;
    }

    @include element('head-job') {
        font-size: 12px;
        color: $--color-greyscale-300;
    }

    @include element('sub-job') {
        font-size: 14px;
        font-weight: 500;
        color: $--color-greyscale-600;
    }

    @include element('work-title') {
        font-size: 18px;
        font-weight: 600;
        margin: 4px 0px;
        color: $--color-greyscale-600;
    }
}