@include block('header'){
    @include element('menu-icon'){
        // opacity: 0;
        font-size: 24px;
        color: black;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 120;
        cursor: pointer;
    }
    @include element('button'){
        position: absolute;
        right: 0px;
        top: 10px;
        width: 44px;
        height: 44px;
        background-color: $--color-violet-200;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        outline:none;
        transition: all 0.5s ease;
        z-index: 99;
        @include modifier('active'){
          background-color: $--color-violet-200;
          transform: scale(100.5);
        }
    }
    @include element('info-container'){
        z-index: 110;
        opacity: 0;
        position: absolute;
        top: -10px;
        left: -20px;
        right: -20px;
        transition: all 0.5s ease;
        @include modifier('active'){
            opacity: 1;
          }
    }
    @include element('data-container'){
        padding: 16px 30px;
    }
    @include element('text'){
        font-size: 24px;
        font-weight: 500;
    }
    @include element('icon'){
        font-size: 24px;
    }
    @include element('link'){
        text-decoration: none;
        color: $--color-black;
    }
    @include element('title'){
        position: absolute;
        font-size: 54px;
        font-weight: 700;
        bottom: 184px;
        left: 30px;
        color: $--color-white;
    }
}