@include block('header'){
    @include element('title-main'){
        font-size: 22px;
        font-weight: 900;
        line-height: 1.2;
        @include media-breakpoint-up('sm'){
            font-size: 26px;
        }
        @include media-breakpoint-up('md'){
            font-size: 28px;
        }
    }
    @include element('title-sub'){
        font-size: 14px;
        font-weight: 900;
        line-height: 1.2;
        color: $--color-red;
        @include media-breakpoint-up('md'){
            font-size: 18px;
        }
    }
    @include element('name-container'){
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    @include element('logo-container'){
        max-width: 100px;
    }
}