[class^='tk-icon-']:before,
[class*=' tk-icon-']:before {
  font-family: 'tk-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='tk-icon-'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.tk-icon-arrow-right:before {
  content: "\61";
}
.tk-icon-facebook-square:before {
  content: "\62";
}
.tk-icon-github-square:before {
  content: "\63";
}
.tk-icon-envelope:before {
  content: "\64";
}
.tk-icon-linkedin-square:before {
  content: "\65";
}
.tk-icon-arrow-left:before {
  content: "\66";
}
.tk-icon-arrow-down:before {
  content: "\67";
}
.tk-icon-arrow-up:before {
  content: "\68";
}
.tk-icon-black-tie:before {
  content: "\69";
}
.tk-icon-briefcase:before {
  content: "\6a";
}
.tk-icon-cloud-download:before {
  content: "\6b";
}
.tk-icon-print:before {
  content: "\6c";
}
.tk-icon-user:before {
  content: "\6d";
}
.tk-icon-youtube-play:before {
  content: "\6e";
}
.tk-icon-check:before {
  content: "\6f";
}
.tk-icon-check-circle:before {
  content: "\70";
}
.tk-icon-download:before {
  content: "\71";
}
.tk-icon-gift:before {
  content: "\72";
}
.tk-icon-apple:before {
  content: "\74";
}
.tk-icon-leanpub:before {
  content: "\75";
}
.tk-icon-twitter-square:before {
  content: "\77";
}
.tk-icon-twitch:before {
  content: "\76";
}
.tk-icon-phone-square:before {
  content: "\78";
}
.tk-icon-phone:before {
  content: "\79";
}
.tk-icon-birthday-cake:before {
  content: "\7a";
}
.tk-icon-calendar:before {
  content: "\41";
}
.tk-icon-hand-scissors-o:before {
  content: "\43";
}
.tk-icon-angellist:before {
  content: "\73";
}
.tk-icon-home:before {
  content: "\44";
}
.tk-icon-bars:before {
  content: "\45";
}
.tk-icon-times:before {
  content: "\42";
}