@include block('home'){
    position: relative;
    font-size: rem(14px);
    padding: 1rem 0;
    @include element('title'){
        font-size: 20px;
        font-weight: 700;
    }  
    @include element('download-link'){
        display: flex;
        color: $--color-violet-300;
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
    }
}

